.wrap {
  border-radius: 1rem;
  margin-bottom: 8px;
  max-width: 80%;
  min-height: max(2rem, min-content);
  padding: 0.5rem 1rem;
  text-align: left;
}

.timestamp {
  font-size: 0.6em;
  margin-top: 4px;
  opacity: 0.5;
}