.App {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  min-height: 100vh;
  padding: 24px;
  text-align: center;
  width: 100vw;
}

.header {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  font-size: 0.7rem;
  justify-content: center;
  margin-bottom: 16px;
}

.header span {
  padding-bottom: 0.5em;
}

.logo {
  aspect-ratio: 1/1;
  margin-right: 8px;
  width: min(32px, 25%);
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
}

.footer {
  font-size: 0.6rem;
  margin-top: 16px;
}